@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loader {
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 1s linear infinite;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #f9f9f9;
}
